.main5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
* {
//   border: 1px solid red;
}

.main5 .div1 {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
  h5 {
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }
  p {
    font-size: 22px;
  }
}

.main5 .div2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  .cdiv1 {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 550px;
      filter: drop-shadow(10px 20px 50px rgba(0, 0, 0, 0.15));
    }
    .shape1 {
      position: absolute;
      width: 140px;
      height: 140px;
        left: 80px;
        top:330px;
        border-radius: 50%;
      border: 8.8px solid #ff007a;
    }
    .shape2 {
      position: absolute;
      width: 300px;
      height: 240px;
      right: 20px;
      top: -20px;
    }
  }
  .cdiv2 {
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h5 {
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 40px;
      color: black;
    }
    p {
      font-size: 23px;
    }

    .dots {
      margin-top: 40px;
      display: flex;

      .dot1 {
        cursor: pointer;
        width: 18px;
        height: 18px;
        left: 573px;
        top: 3009px;
        margin-right: 40px;
        border-radius: 50%;
        background: #e7f0fc;
      }
    }
  }
  .cdiv3 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    .shape3{
        z-index: -1;
        position: absolute;
width: 224px;
height: 224px;
left: 100px;
border-radius: 50%;

background: #FFF5DB;
    }

    .img1 {
      width: 140px;
      height: 140px;
      cursor: pointer;
    }
    .imgA {
        cursor: pointer;
      position: absolute;
    }
    .img2 {
      top: 80px;
      left: 80px;
      width: 118px;
      height: 118px;
    }
    .img3 {
      top: 50px;
      width: 98px;
      height: 98px;
    }
    .img4 {
      top: 120px;
      right: 120px;
      width: 78px;
      height: 78px;
    }
    .img5 {
      right: 100px;
      width: 68px;
      height: 68px;
    }
    .img6 {
      right: 150px;
      bottom: 120px;
      width: 98px;
      height: 98px;
    }
    .img7 {
      bottom: 70px;
      right: 300px;
      width: 118px;
      height: 118px;
    }
    .img8 {
      left: 70px;
      top: 250px;
      width: 98px;
      height: 98px;
    }
  }
}
